@font-face {
    font-family: "pgfont";
    src: url("./fonts/PGFontV2.ttf") format("truetype");
}

@font-face {
    font-family: "jpfont";
    src: url("./fonts/PixelMplus10-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "cnfont";
    src: url("./fonts/Unifontexmono-DYWdE.ttf") format("truetype");
}

/* font-family:Arial, Helvetica, sans-serif; */

/* @font-face {
    font-family: 'kyokasho';
    src: url('./fonts/UDDigiKyokashoN-R.ttc');
} */

@font-face {
    font-family: "kyokasho";
    src: url("./fonts/UDDigiKyokashoN-R-01.ttf") format("truetype");
}

* {
    /* font-smooth: never; */
    /* -webkit-font-smoothing: none; */
    text-rendering: optimizeLegibility;
    font-kerning: none;
    image-rendering: pixelated !important;
    margin: 0;
}

body {
    /* position: relative; */
    background-color: black;
}

#canvas_container {
    display: flex;
}

#canvas {
    /* image-rendering: pixelated; */
    /* -webkit-font-smoothing: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased; */
    /* -webkit-font-smoothing: none; */
    /* text-rendering: auto; */
    cursor: none;
    margin: 0 auto;
    align-self: center;
    /* display: none; */
}

#canvas2 {
    display: none;
    cursor: none;
    image-rendering: pixelated !important;
    position: absolute;
    /* background-color: rgba("0, 0, 0, 0"); */
    /* opacity: 0.9; */
    left: 0;
    right: 0;
    margin: 0 auto;
}

#yomi {
    position: absolute;
    font-family: kyokasho;
    font-size: 30px;
    /* max-width: 300px; */
}

.kanjiCard {
    position: absolute;
    font-family: kyokasho;
    font-size: 50px;
    left: 270px;
    top: 245px;
}